@font-face { font-family: pixel; src: url("Poppins-SemiBold.ttf"); }
body{
    background-color: #3357B0;
}

#createback{
    background-color: #5AA6D1;
    width: 500px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cretitle{
    color: white;
    font-family: pixel;
    font-size: 30px;
    position: absolute;
    left: 150px;

}

#namefirst{
    color: white;
    font-family: pixel;
    font-size: 15px;
    position: absolute;
    margin-left: 65px;
    top: 100px;


}

#firstname{

    border: 2px solid white;
    color: white;
    font-family: pixel;
    background-color: transparent;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 65px;
    width: 350px;
    height: 25px;
    position: absolute;
    top: 140px;

}
#namelast{
    color: white;
    font-family: pixel;
    font-size: 15px;
    position: absolute;
    margin-left: 65px;
    top: 200px;


}

#lastname{

    border: 2px solid white;
    color: white;
    font-family: pixel;
    background-color: transparent;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 65px;
    width: 350px;
    height: 25px;
    position: absolute;
    top: 240px;

}

#agep{
    color: white;
    font-family: pixel;
    font-size: 15px;
    position: absolute;
    margin-left: 65px;
    top: 300px;


}

#age{

    border: 2px solid white;
    color: white;
    font-family: pixel;
    background-color: transparent;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 65px;
    width: 350px;
    height: 25px;
    position: absolute;
    top: 340px;

}

#finalinfo{
    background-color: #3B89BA;
    border: 2px solid #3B89BA;
    width: 250px;
    height: 40px;
    color: #82CCF0;
    border-radius: 15px;
    position: absolute;
    font-size: 15px;
    font-family: pixel;
    left: 120px;
    top:390px;
    transition-duration: 0.4s;

}

#finalinfo:hover{
    background-color: #1B699E;
    border: 2px solid #1B699E;
}
