@font-face { font-family: pixel; src: url("Poppins-SemiBold.ttf"); }
body{
    background-color: #3357B0;
}

#setback{
    height: 800px;
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #5AA6D1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#settitle{
    font-family: pixel;
    color: white;
    font-size: 30px;
    position: absolute;
    left: 315px;
    top: 20px;
}

#generalinfo{
    font-family: pixel;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 100px;
    top: 50px;
}
#firstname{
    font-family: pixel;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 60px;
    top: 200px;
}
#lastname{
    font-family: pixel;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 180px;
    top: 200px;
}


#first{
    font-family: pixel;
    color: #82CCF0;
    font-size: 10px;
    position: absolute;
    left: 60px;
    top: 190px;
}
#last{
    font-family: pixel;
    color: #82CCF0;
    font-size: 10px;
    position: absolute;
    left: 180px;
    top: 190px;
}

#emailtext{
    font-family: pixel;
    color: #82CCF0;
    font-size: 10px;
    position: absolute;
    left: 60px;
    top: 290px;
}

#email{
    font-family: pixel;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 60px;
    top: 300px;
}

#passwordtext{
    font-family: pixel;
    color: #82CCF0;
    font-size: 10px;
    position: absolute;
    left: 60px;
    top: 370px;
}
#password{
    font-family: pixel;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 60px;
    top: 380px;
}

#changpass{
    background-color: #3B89BA;
    border: 2px solid #3B89BA;
    width: 150px;
    height: 30px;
    color: #82CCF0;
    border-radius: 15px;
    position: absolute;
    font-size: 10px;
    font-family: pixel;
    left: 200px;
    top: 390px;
    transition-duration: 0.4s;
}

#changpass:hover{
    background-color: #1B699E;
    border: 2px solid #1B699E;
}

#delete{
    background-color: #3B89BA;
    border: 2px solid #3B89BA;
    width: 200px;
    height: 30px;
    color: #82CCF0;
    border-radius: 15px;
    position: absolute;
    font-size: 15px;
    font-family: pixel;
    left: 60px;
    top: 500px;
    transition-duration: 0.4s;
}

#delete:hover{
    background-color: #1B699E;
    border: 2px solid #1B699E;
}

#warn{
    font-family: pixel;
    color: #ffffff;
    font-size: 10px;
    position: absolute;
    left: 60px;
    top: 530px;
    margin-right: 600px;
}

#back{
    background-color: #3B89BA;
    border: 2px solid #3B89BA;
    width: 200px;
    height: 40px;
    color: #82CCF0;
    border-radius: 15px;
    position: absolute;
    font-size: 15px;
    font-family: pixel;
    left: 60px;
    top: 700px;
    transition-duration: 0.4s;
}

#back:hover{
    background-color: #1B699E;
    border: 2px solid #1B699E;
}

#selecthemes{
    background-color: #3B89BA;
    border: 2px solid #3B89BA;
    width: 200px;
    height: 30px;
    color: #82CCF0;
    border-radius: 15px;
    position: absolute;
    font-size: 15px;
    font-family: pixel;
    right: 120px;
    top: 210px;
    transition-duration: 0.4s;
}

#themes{
    font-family: pixel;
    color: #82CCF0;
    font-size: 15px;
    position: absolute;
    right: 200px;
    top: 170px;
}

#logout{
    background-color: #3B89BA;
    border: 2px solid #3B89BA;
    width: 200px;
    height: 40px;
    color: #82CCF0;
    border-radius: 15px;
    position: absolute;
    font-size: 15px;
    font-family: pixel;
    right: 60px;
    top: 700px;
    transition-duration: 0.4s;
}
#logout:hover{
    background-color: #1B699E;
    border: 2px solid #1B699E;
}