@font-face { font-family: pixel; src: url("Poppins-SemiBold.ttf"); }
body{
    background-color: #3357B0;
}

#setback{
    height: 800px;
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #5AA6D1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#settitle{
    font-family: pixel;
    color: white;
    font-size: 30px;
    position: absolute;
    left: 315px;
    top: 20px;
}

#generalinfo{
    font-family: pixel;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 100px;
    top: 50px;
}
#firstname{
    font-family: pixel;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 100px;
    top: 100px;
}
#lastname{
    font-family: pixel;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 300px;
    top: 100px;
}


#first{
    font-family: pixel;
    color: #82CCF0;
    font-size: 10px;
    position: absolute;
    left: 100px;
    top: 80px;
}
#last{
    font-family: pixel;
    color: #82CCF0;
    font-size: 10px;
    position: absolute;
    left: 300px;
    top: 80px;
}

#email{
    font-family: pixel;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 300px;
    top: 100px;
}
#password{
    font-family: pixel;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 300px;
    top: 100px;
}