@font-face { font-family: pixel; src: url("Poppins-SemiBold.ttf"); }

body{
    background-color: #3357B0;
}

#createback{
    background-color: #5AA6D1;
    width: 500px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cretitle{
    color: white;
    font-family: pixel;
    font-size: 30px;
    position: absolute;
    left: 125px;

}

#emailtext{
    color: white;
    font-family: pixel;
    font-size: 15px;
    position: absolute;
    margin-left: 65px;
    top: 100px;


}

#email{

    border: 2px solid white;
    color: white;
    font-family: pixel;
    background-color: transparent;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 65px;
    width: 350px;
    height: 25px;
    position: absolute;
    top: 140px;

}
#passtext{
    color: white;
    font-family: pixel;
    font-size: 15px;
    position: absolute;
    margin-left: 65px;
    top: 200px;


}

#pass{

    border: 2px solid white;
    color: white;
    font-family: pixel;
    background-color: transparent;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 65px;
    width: 350px;
    height: 25px;
    position: absolute;
    top: 240px;

}

#submit{
    background-color: #3B89BA;
    border: 2px solid #3B89BA;
    width: 250px;
    height: 40px;
    color: #82CCF0;
    border-radius: 15px;
    position: absolute;
    font-size: 15px;
    font-family: pixel;
    left: 120px;
    top: 350px;
    transition-duration: 0.4s;

}

#submit:hover{
    background-color: #1B699E;
    border: 2px solid #1B699E;
}

#gitcreate{
    background-color: #3B89BA;
    border: 2px solid #3B89BA;
    width: 100px;
    height: 40px;
    color: #82CCF0;
    border-radius: 15px;
    position: absolute;
    font-size: 15px;
    font-family: pixel;
    left: 140px;
    top: 290px;
    transition-duration: 0.4s;

}

#gitcreate:hover{
    background-color: #1B699E;
    border: 2px solid #1B699E;
}

#goocreate{
    background-color: #3B89BA;
    border: 2px solid #3B89BA;
    width: 100px;
    height: 40px;
    color: #82CCF0;
    border-radius: 15px;
    position: absolute;
    font-size: 15px;
    font-family: pixel;
    right: 145px;
    top: 290px;
    transition-duration: 0.4s;

}

#goocreate:hover{
    background-color: #1B699E;
    border: 2px solid #1B699E;
}

#loginoki{
    color: #82CCF0;
    position: absolute;
    top: 400px;
    left: 95px;
    font-family: pixel;
}



#createbacklog{
    background-color: #5AA6D1;
    width: 500px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#cretitlelog{
    color: white;
    font-family: pixel;
    font-size: 30px;
    position: absolute;
    left: 200px;


}

#emailtextlog{
    color: white;
    font-family: pixel;
    font-size: 15px;
    position: absolute;
    margin-left: 65px;
    top: 100px;
   


}

#emaillog{

    border: 2px solid white;
    color: white;
    font-family: pixel;
    background-color: transparent;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 65px;
    width: 350px;
    height: 25px;
    position: absolute;
    top: 140px;
  

}
#passtextlog{
    color: white;
    font-family: pixel;
    font-size: 15px;
    position: absolute;
    margin-left: 65px;
    top: 200px;



}

#passlog{

    border: 2px solid white;
    color: white;
    font-family: pixel;
    background-color: transparent;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 65px;
    width: 350px;
    height: 25px;
    position: absolute;
    top: 240px;
   

}

#submit2{
    background-color: #3B89BA;
    border: 2px solid #3B89BA;
    width: 250px;
    height: 40px;
    color: #82CCF0;
    border-radius: 15px;
    position: absolute;
    font-size: 15px;
    font-family: pixel;
    left: 120px;
    top:350px;
    transition-duration: 0.4s;
  

}

#submit2:hover{
    background-color: #1B699E;
    border: 2px solid #1B699E;
}

#gitcreate{
    background-color: #3B89BA;
    border: 2px solid #3B89BA;
    width: 100px;
    height: 40px;
    color: #82CCF0;
    border-radius: 15px;
    position: absolute;
    font-size: 15px;
    font-family: pixel;
    left: 140px;
    top: 290px;
    transition-duration: 0.4s;

}

#gitcreate:hover{
    background-color: #1B699E;
    border: 2px solid #1B699E;
}

#goocreate{
    background-color: #3B89BA;
    border: 2px solid #3B89BA;
    width: 100px;
    height: 40px;
    color: #82CCF0;
    border-radius: 15px;
    position: absolute;
    font-size: 15px;
    font-family: pixel;
    right: 145px;
    top: 290px;
    transition-duration: 0.4s;

}

#goocreate:hover{
    background-color: #1B699E;
    border: 2px solid #1B699E;
}

#loginokilog{
    color: #82CCF0;
    position: absolute;
    top: 400px;
    left: 95px;
    font-family: pixel;
    display: none;
}

#nav{
    background-color: #5AA6D1;
    width: 100%;
    height: 100px;
    border-radius: 15px;
    position: absolute;
    left: 0px;
    top: -20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: none;
}

#navtitle{
    font-family: pixel;
    color: white;
    font-size: 30px;
    position: absolute;
    left: 20px;
    top: 8px;
}