@font-face { font-family: pixel; src: url("SpaceGrotesk-Bold.ttf"); }
@font-face { font-family: lexend; src: url("Lexend-Bold.ttf"); }
@font-face { font-family: lexendlight; src: url("Lexend-Light.ttf"); }
body{
    background-color: #0b1215;
}

#sidenav{
    height: 100%;
    width: 300px;
    position: fixed;
    left: -20px;
    top: 0px;
   
    background-color: #101720;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#create{
    background-color: #141c27;
    border: 2px solid #141c27;
    width: 250px;
    height: 40px;
    color: #ffffff;
    border-radius: 15px;
    position: absolute;
    font-size: 15px;
    font-family: lexend;
    left: 35px;
    top: 125px;
    transition-duration: 0.4s;
}

#create:hover{
    background-color: #0b1215;
    border: 2px solid #0b1215;
}

#setbut{
width: 50px;
height: 50px;
position: absolute;
left: 230px;
top: 30px;
}

#setbut:hover{
    animation: hoverani 1s ease-in-out;
}

@keyframes hoverani {
    0%{

    }
    100%{
        rotate: 360deg;
    }
    
}

#pfp{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid white;
    position: absolute;
    top: 30px;
    left: 30px;
}

#firstnamedisplay{
    font-family: lexend;
    color: white;
    font-size: 15px;
    position: absolute;
    left: 100px;
    top: 20px;
}

#lastnamedisplay{
    font-family: lexend;
    color: white;
    font-size: 15px;
    position: absolute;
    left: 100px;
    top: 40px;
}

#backtitle{
    background-image: linear-gradient(150deg, #0b1215,#12122e, #13133f, #0c0c3d, #06064d , #0c0c3d , #13133f ,#12122e , #0b1215);
    width: 75%;
    height: 200px;
    filter: blur(40px);
    position: absolute;
    top: 50px;
    left: 50px;

}

#welcomepage{
    position: absolute;
    height: 2000px;
    left: 300px;
    width: 2000px;
}

#welcomeok{
    font-family: lexend;
    font-size: 50px;
    color: white;
    position: absolute;
    top: 75px;
    left: 600px;
    overflow: hidden; 
  border-right: .10em solid #ffffff; 
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: .05em;
  margin-left: 100px;
  margin-right: 100px; 
  animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}
#tut1{
    font-family: lexendlight;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 300px;
    left: 500px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 800px }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ffffff; }
  }

  @keyframes shift {
    0%{
        filter: blur(40px);
        opacity: 0;
    
    }
    100%{
        filter: blur(0px);
        opacity: 1;
        
    }
    
}

#tut2{
    font-family: lexendlight;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 400px;
    left: 500px;
}